*{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    max-width: 50%;
}

.first-section{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    margin: 10px;
    margin-left: 100px;
}

.links{
    color: #e5e7eb;
    font-size: 18px;
    margin-right: 100px;
}

.main{
    color: #f9faf8;
    margin-left: 100px;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

li{
    margin: 10px;
}

.button1{
    background-color: #3882f6;
    color: white;
    max-width: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    padding: 4px 16px;
}
.subtext-button{
    display: flex;
    justify-content: space-between;
    margin-right: 60%;
    flex-direction: column;
}
container{
    display: flex;
    color:#e5e7eb;
    background-color: #6f7072;
    align-items: center;
    padding:6%;
    justify-content: flex-end;
}
p{
    flex-wrap: wrap;
    display: flex;
    padding: 20px 20px 20px 0px;
}

.everything{
    display: flex;
    margin-top: 6%;
    margin-bottom: 6%;
    justify-content: flex-end;
    margin-right: 110px;
    justify-content: space-between;
}

img{
    max-width: 200px;
}

.header2{
    justify-content: center;
    align-content: center;
    padding: 4%;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 0px;
}
.part2{
    display: flex;
    gap:52px;
    margin: 0px;
    justify-content: center;
}
.body2{
    text-align: center;
    margin-bottom: 5%;
}

.boxes{
    max-width: 200px;
    margin: 0px;
}

.quote{
   color: #1f2937;
   font-size: 36px;
   justify-content: center;
   align-content: center;
   padding: 10% 10% 2% 10%;
}

em{
    font-weight: 100;
}

.part3{
    background-color: #e5e7eb;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.quoter{
    color: #1f2937;
    font-weight: bolder;
    font-size: large;
    justify-content: flex-end;
    padding: 0px;
    margin-bottom: 10%;
    margin-right: 10%;
}

.blue{
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    margin: 10%;
    padding: 3% 5%;
    align-items: center;
}

.button4{
    background-color: #3882f6;
    border: solid white;
    color: #eeee;
    padding: 8px 20px;
    border-radius: 10px;
}

.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 1%;
}